// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url("https://use.typekit.net/ayo5ezt.css");

// Define fonts for body and headers
$body-font: "pragmatica", "Helvetica", "sans-serif";
$headers-font: "pragmatica", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

body h3 {
  font-size: 18px;
}

body h2 {
  font-size: 24px;
  font-weight: lighter;
}

body p, a {
  font-weight: lighter;
  font-size: 16px;
}

body h1 {
  font-weight: lighter;
  font-size: 148px;
}
