<div class="footer-golden">
    <div class="footer-element">
      <%= image_tag("logo_ld.png", width:'200', class: "padding-top") %>
      <p>Design, Research, Code</p>
    </div>
    <div class="footer-element">
      <div class="footer-text-right">
        <a href="/">Mail</a>
      </div>
      <div class="footer-text-right">
        <a href="/">Instagram</a>
      </div>
      <div class="footer-text-right">
        <a href="/">Github</a>
      </div>
      <div class="footer-text-right">
        <a href="/legal-notice">Legal Notice</a>
      </div>
    </div>
  </div>
</div>
