  <%= render 'shared/navbar' %>
  <div class="row about">
    <div class="col-lg-5 col-sm-12 portrait">
       <%= image_tag("luzie_deubel.jpg") %>
    </div>
    <div class="col-lg-5 col-sm-12 about-me text-center">
      <p>Luzie Deubel is a berlin-based Designer and Programmer from Düsseldorf, Germany. Graduated in product design from Bauhaus-Universität Weimar in 2019.</p>
      <p><i class="fas fa-chevron-down"></i></p>
    </div>
  </div>

  <div class="row exhibitions">
    <div class="col-lg-11 col-sm-12">
      <p class="title-about"><em>EXHIBITIONS/AWARDS/PUBLICATIONS:</em></p>
      <p>2020:</p>
      <ul class="list-unstyled">
        <li>Contribution to <a href="https://luciaverlag.de/shop/magazine/port-2020/" target="_blank">PORT MAGAZINE</a> with my B.A. Thesis "the-man-machine"</li>
        <li>Contribution to <a href="https://luciaverlag.de/shop/magazine/port-2020/" target="_blank">PORT MAGAZINE</a> with the manifesto of everyday objects</li>
        <li><a href="https://www.callwey.de/blog/dineus-2020-alle-sieger/" target="_blank">DINEUS AWARD</a> for culinary culture in the category glass for "Handwerker"</li>
      </ul>
      <p>2019:</p>
      <ul class="list-unstyled">
        <li><a href="https://hfg-archiv.museumulm.de/ausstellung/reclaim-context/" target="_blank">RECLAIM CONTEXT</a> exhibition at the Archives of hfg Ulm with "Handwerker"</li>
        <li><a href="https://manifestofpractice.com/artisits/" target="_blank">MANIFEST OF PRACTICE</a> exhibition at the State Representation of Thuringia in Berlin with "Handwerker"</li>
      </ul>
      <p>2018:</p>
      <ul class="list-unstyled">
        <li>Secret Life of Materials exhibition at DUTCH DESIGN WEEK with "Jenever Typologies"</li>
        <li><a href="http://view-publications.com/viewpoint-colour-5/" target="_blank">VIEWPOINT COLOUR NO. 5</a> feature of "Tannin Coat"</li>
        <li>Group exhibition at Lange Nacht der Wissenschaften at FUTURIUM Berlin with "good life/hard life"</li>
        <li>NATURE 2.0 exhibition at museum PASS, Frameries with "Tannin Coat"</li>
      </ul>
      <p>2018:</p>
      <ul class="list-unstyled">
        <li>Designing sustainable Interventions exhibition at <a href="https://www.dezeen.com/2017/10/21/10-must-see-dutch-design-week-exhibitions-designers-making-difference/" target="_blank">DUTCH DESIGN WEEK</a> with "Tannin Coat"</li>
        <li>BAUHAUS ESSENTIALS AWARD for "Tannin Coat"</li>
      </ul>
    </div>
  </div>
