  <div class="row about">
    <div class="col-lg-5 col-sm-12 portrait">
       <%= image_tag("luzie_deubel.jpg") %>
    </div>
    <div class="col-lg-5 col-sm-12 about-me text-center">
      <p>Luzie Deubel is a berlin-based Designer and Programmer from Düsseldorf, Germany. Graduated in product design from Bauhaus-Universität Weimar in 2019.</p>
      <p><i class="fas fa-chevron-down"></i></p>
    </div>
  </div>

  <div class="row exhibitions">
    <div class="col-lg-10 col-sm-12">
      <p class="title-about"><em>EXHIBITIONS/AWARDS/PUBLICATIONS:</em></p>
      <p>2020:</p>
      <ul class="list-unstyled">
        <li>Contribution to PORT Magazine with my B.A. Thesis "the-man-machine"</li>
        <li>Contribution to PORT Magazine with the manifesto of everyday objects</li>
        <li>DINEUS AWARD for culinary culture in the category glass for "Handwerker"</li>
      </ul>
      <p>2019:</p>
      <ul class="list-unstyled">
        <li>RECLAIM CONTEXT exhibition at the Archives of hfg Ulm with "Handwerker"</li>
        <li>MANIFEST OF PRACTICE exhibition at the State Representation of Thuringia in Berlin with "Handwerker"</li>
      </ul>
      <p>2018:</p>
      <ul class="list-unstyled">
        <li>Secret Life of Materials exhibition at DUTCH DESIGN WEEK with "Jenever Typologies"</li>
        <li>VIEWPOINT COLOUR NO. 5 feature of "Tannin Coat"</li>
        <li>Group exhibition at Lange Nacht der Wissenschaften at FUTURIUM Berlin with "good life/hard life"</li>
        <li>NATURE 2.0 exhibition at museum PASS, Frameries with "Tannin Coat"</li>
      </ul>
      <p>2018:</p>
      <ul class="list-unstyled">
        <li>Designing sustainable Interventions exhibition at DUTCH DESIGN WEEK with "Tannin Coat"</li>
        <li>BAUHAUS ESSENTIALS AWARD for "Tannin Coat"</li>
      </ul>
    </div>
  </div>
