<div class="row start-picture">
  <div class="col-12 start-image-container text-center">
    <%= image_tag("galaxyx.png") %>
    <div class="col-sm-12 col-lg-8 centered show-title">
      <%= link_to "LUZIE DEUBEL DESIGN RESEARCH CODE", projects_path, class: "stretched-link" %></h2>
    </div>
  </div>
</div>
