<div class="row start-picture">
  <div class="col-sm-12 col-lg-7 start-image-container text-center">
    <h2><%= link_to "LUZIE DEUBEL DESIGN RESEARCH CODE", projects_path, class: "stretched-link" %></h2>
  </div>
</div>
