<%= render 'shared/navbar' %>
<div class="row about center">
  <div class="col-lg-6 col-sm-12 about-me text-center centered">
    <p>Luzie Deubel<br>
      Pestalozzistraße 25<br>
      D-10627 Berlin<br>
    </p>

    <p>luziedeubel@gmail.com</p>

    <p>All rights reserved. Any duplication or redistribution as a whole or in parts requires written permission of Luzie Deubel.</p>

    <p>Concept and Design: Luzie Deubel</p>
    <p>Production and Code: Luzie Deubel</p>

    <p>Herausgeberin und inhaltlich Verantwortliche ist Luzie Deubel.</p>

    <p>Alle Rechte vorbehalten. Jegliche Vervielfältigung oder Weiterverbreitung in jedem Medium als Ganzes oder in Teilen bedarf der schriftlichen Zustimmung von Luzie Deubel.</p>

    <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
  </div>
</div>
