<div class="index-container">
  <%= render 'shared/list' %>
  <div class="row reset">
    <div class="col-6 text-center">
      <%= link_to "Reset & see all projects", root_path, class: "btn btn-outline-primary", role:"button" %>
    </div>
  </div>
</div>
