<%= render 'shared/navbar' %>

<div class="page-container">
  <div class="galaxy-container">
    <div class="index-content">
    <% @projects.each do |project| %>
      <div class="row project-card">
        <%= cl_image_tag project.main_picture.key, height: 100, crop: :fill %>
        <h3><%= link_to project.title, project_path(project) %></h3>
      </div>
    <% end %>
    </div>
  </div>
</div>
