.portrait {
  width: 100%;
    img {
      width: 100%;
    }
}

.about {
  height: 100vh;
  padding-top: 3%;
  padding-bottom: 7%;
  color: $golden;
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-bottom: 0px;
  }
}

.exhibitions {
  width: 60%;
  color: $golden;
  margin: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: 20%;

  ul {
    font-weight: 300;
    padding-bottom: 40px;
  }

  a:hover {
    color: rgba(165, 135, 105, 0.314) !important;
    text-shadow: 0px 0px 14px $golden;
    transition: 0.8s;
    text-decoration: none;
  }

  p {
    margin-bottom: 0px;
  }

  .title-about {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.about-me p {
  padding-top: 2rem;
}

