.galaxy-container {
  background-image: url(galaxyx.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 800px;
}

.project-card {
  width: 20px;

  a {
    text-decoration: none;
    color: $golden;
  }
}

.index-content {
  width: 80%;
  margin: auto;
}

.page-container {
  padding-top: 5%;
  width: 90%;
  margin: auto;
}

.carousel-container {
  width: 100%;
}

.background-golden {
  background-color: $golden;
  opacity: 0.9;
  min-height: 100vh;
}

.show-content {
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 80%;
  margin: auto;
  color: white;
}

.project-photo {
  width: 100%;
  position: relative;
  margin: auto;
  img {
    width: 100%;
    height: auto;
  }
}

.align-right {
  text-align: right;
  padding-bottom: 20px;
}
