.form {
  color: $golden;
  padding: 50px;
  width: 80%;
}

.background {
  min-height: 100vh;
}

.show-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
  width: 80%;
  margin: auto;
  color: $golden;
}

.align-right {
  text-align: right;
  padding-bottom: 20px;
}

.project-introduction {
  height: 100vh;
  color: $golden;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-description {
  height: 70vh;
  color: $golden;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  padding-bottom: 20%;
  padding-top: 85px;
  color: $golden;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pfeil {
  width: 1%;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  padding-top: 50px;
  color: $golden;
  display: flex;
  justify-content: center;
}
