.footer-golden {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid $golden;
  padding: 30px;
  margin-top: 130px;
  img {
    padding-bottom: 10px;
  }
  p, a {
    color: $golden;
    margin-bottom: 0px;
  }
  a:hover {
    color: rgba(165, 135, 105, 0.314) !important;
    text-shadow: 0px 0px 14px $golden;
    transition: 0.8s;
    text-decoration: none;
  }
}

.footer-text-right {
  text-align: right;
}

