.main-picture {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  color: $golden;
}

.main-image-container {
  height: 90vh;
  max-height: 100vh;
  border-bottom: 1px solid $golden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.photos-container {
  width: 70%;
  margin: auto;
}

.project-photo {
  width: 100%;
  position: relative;
  margin: auto;
  padding-bottom: 30px;
  img {
    width: 100%;
    height: auto;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}
