.main-picture {
  width: 80%;
  margin: auto;
  img {
    width: 100%,;
  }
  padding-bottom: 30px;
}

.photos-container {
  width: 80%;
  margin: auto;
}

.project-photo {
  width: 100%;
  position: relative;
  margin: auto;
  padding-bottom: 30px;
  img {
    width: 100%;
    height: auto;
  }
}
